.menu {
    padding: 100px 0 100px;
    background: #fff;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu__title {
    color: #000;
    text-align: center;
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    font-style: normal;
    font-family: "Inter", Arial, sans-serif;
    max-width: 780px;
}

.menu__subtitle {
    text-align: center;
    margin: 0 0 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    font-family: "Noto Serif", "Times New Roman", serif;
    max-width: 780px;
}

.menu__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}